asgiref==3.8.1
appdirs==1.4.4
atomicwrites==1.4.0
Django==5.1.5
dj-database-url==2.3.0
jsonpointer==2.1
lxml==5.2.1
pyls-spyder==0.4.0
mkl-service==2.4.2
protobuf==4.25.3
psycopg2-binary==2.9.10
setuptools==75.8.0
sqlparse==0.5.3
tzdata==2025.1
wheel==0.45.1
xlrd==2.0.1